# Sharks are attacking!

### ¡Importación de datos!

Importamos las librerías que vamos a necesitar.

Importamos los datos en formato csv con los que vamosa a trabajar.

In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
data = pd.read_csv('shark-attacks.csv', encoding='ISO-8859-1')

Aplicamos un **.head()** para poder visualizar el dataframe.

In [3]:
data.head(10)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.c,2016.09.18.c,5993,NaN,NaN
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.b,2016.09.18.b,5992,NaN,NaN
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.a,2016.09.18.a,5991,NaN,NaN
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,...,NaN,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.17,2016.09.17,5990,NaN,NaN
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,...,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.16,2016.09.15,5989,NaN,NaN
5,2016.09.15.R,15-Sep-16,2016,Boat,AUSTRALIA,Western Australia,Bunbury,Fishing,Occupant: Ben Stratton,NaN,...,NaN,"West Australian, 9/15/2016",2016.09.15.R-boat.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.15.R,2016.09.15.R,5988,NaN,NaN
6,2016.09.11,11-Sep-16,2016,Unprovoked,USA,Florida,"Ponte Vedra, St. Johns County",Wading,male,M,...,3' to 4' shark,"News4Jax, 9/11/2016",2016.09.11-PonteVedra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.11,2016.09.11,5987,NaN,NaN
7,2016.09.07,07-Sep-16,2016,Unprovoked,USA,Hawaii,"Makaha, Oahu",Swimming,female,F,...,"Tiger shark, 10?","Hawaii News Now, 9/7/2016",2016.09.07-Oahu.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.07,2016.09.07,5986,NaN,NaN
8,2016.09.06,06-Sep-16,2016,Unprovoked,NEW CALEDONIA,North Province,Koumac,Kite surfing,David Jewell,M,...,NaN,"TVANouvelles, 9/6/2016",2016.09.06-Jewell.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.06,2016.09.06,5985,NaN,NaN
9,2016.09.05.b,05-Sep-16,2016,Unprovoked,USA,South Carolina,"Kingston Plantation, Myrtle Beach, Horry County",Boogie boarding,Rylie Williams,F,...,NaN,"C. Creswell, GSAF",2016.09.05.b-Williams.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.05.b,2016.09.05.b,5984,NaN,NaN

Mostramos todas las columnas que hay en el dataframe.

In [4]:
data.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

Usamos un **.describe** para analizar la moda de cada variable y así sacar una primera conclusión visual.

In [5]:
data.describe(include = 'O').transpose()

,count,unique,top,freq
Case Number,5992,5976,1915.07.06.a.R,2
Date,5992,5128,1957,11
Type,5992,6,Unprovoked,4386
Country,5949,203,USA,2116
Area,5590,785,Florida,990
Location,5496,3929,"New Smyrna Beach, Volusia County",157
Activity,5465,1492,Surfing,904
Name,5792,5009,male,495
Sex,5425,6,M,4835
Age,3311,151,17,148
Injury,5965,3595,FATAL,729
Fatal (Y/N),5973,8,N,4315
Time,2779,357,Afternoon,174
Species,3058,1538,White shark,161
Investigator or Source,5977,4752,"C. Moore, GSAF",94
pdf,5992,5981,1907.10.16.R-HongKong.pdf,2
href formula,5991,5980,http://sharkattackfile.net/spreadsheets/pdf_di...,2
href,5989,5972,http://sharkattackfile.net/spreadsheets/pdf_di...,4
Case Number.1,5992,5975,2009.12.18,2
Case Number.2,5992,5976,1913.08.27.R,2
Unnamed: 22,1,1,stopped here,1
Unnamed: 23,2,2,change filename,1

### ¡Análisis y Limpieza de datos!

A simple vista podemos comprobar que hay columnas con muchos datos nulos, por lo que vamos a ver si efectivamente hay columnas con un número significativo de Nulls y en ese caso las eliminamos de nuestro análisis.

In [6]:
null_cols = data.isnull().sum()
null_cols[null_cols > 0]

Country                     43
Area                       402
Location                   496
Activity                   527
Name                       200
Sex                        567
Age                       2681
Injury                      27
Fatal (Y/N)                 19
Time                      3213
Species                   2934
Investigator or Source      15
href formula                 1
href                         3
Unnamed: 22               5991
Unnamed: 23               5990
dtype: int64

Analizando las variables con un mayor número de datos nulos, considero que la variable edad y time (una vez limpiadas) pueden ser significativas, por lo que partiré eliminando las variables Unnamed que están vacías.

In [7]:
drop_cols = list(null_cols[null_cols > 3500].index)
data = data.drop(drop_cols, axis=1)

In [8]:
data.head(10)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,N,13h00,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.c,2016.09.18.c,5993
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,...,N,11h00,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.b,2016.09.18.b,5992
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,N,10h43,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.a,2016.09.18.a,5991
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,...,N,NaN,NaN,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.17,2016.09.17,5990
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,...,N,NaN,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.16,2016.09.15,5989
5,2016.09.15.R,15-Sep-16,2016,Boat,AUSTRALIA,Western Australia,Bunbury,Fishing,Occupant: Ben Stratton,NaN,...,N,NaN,NaN,"West Australian, 9/15/2016",2016.09.15.R-boat.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.15.R,2016.09.15.R,5988
6,2016.09.11,11-Sep-16,2016,Unprovoked,USA,Florida,"Ponte Vedra, St. Johns County",Wading,male,M,...,N,15h15,3' to 4' shark,"News4Jax, 9/11/2016",2016.09.11-PonteVedra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.11,2016.09.11,5987
7,2016.09.07,07-Sep-16,2016,Unprovoked,USA,Hawaii,"Makaha, Oahu",Swimming,female,F,...,N,14h30,"Tiger shark, 10?","Hawaii News Now, 9/7/2016",2016.09.07-Oahu.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.07,2016.09.07,5986
8,2016.09.06,06-Sep-16,2016,Unprovoked,NEW CALEDONIA,North Province,Koumac,Kite surfing,David Jewell,M,...,Y,15h40,NaN,"TVANouvelles, 9/6/2016",2016.09.06-Jewell.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.06,2016.09.06,5985
9,2016.09.05.b,05-Sep-16,2016,Unprovoked,USA,South Carolina,"Kingston Plantation, Myrtle Beach, Horry County",Boogie boarding,Rylie Williams,F,...,N,Late afternoon,NaN,"C. Creswell, GSAF",2016.09.05.b-Williams.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.05.b,2016.09.05.b,5984

Con **.info** obtenemos la información del dataset, el número de columnas, el número de datos dentro de cada columna y qué tipo de datos tiene.

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5992 entries, 0 to 5991
Data columns (total 22 columns):
Case Number               5992 non-null object
Date                      5992 non-null object
Year                      5992 non-null int64
Type                      5992 non-null object
Country                   5949 non-null object
Area                      5590 non-null object
Location                  5496 non-null object
Activity                  5465 non-null object
Name                      5792 non-null object
Sex                       5425 non-null object
Age                       3311 non-null object
Injury                    5965 non-null object
Fatal (Y/N)               5973 non-null object
Time                      2779 non-null object
Species                   3058 non-null object
Investigator or Source    5977 non-null object
pdf                       5992 non-null object
href formula              5991 non-null object
href                      5989 non-null object
Case Number.1             5992 non-null object
Case Number.2             5992 non-null object
original order            5992 non-null int64
dtypes: int64(2), object(20)
memory usage: 1.0+ MB

Elimino las columnas que sé que no me van a interesar en absoluto, ya sea porque dan los mismos valores o porque son valores que no influyen en el dataset y reducimos nuestro dataset de 22 a 11 columnas.

In [10]:
before = len(data.columns)
select_columns = ['Case Number', 'Date', 'Area', 'Location', 'Name', 'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order']

data = data.drop(select_columns, axis=1)
after = len(data.columns)
print('Número de columnas finales: ', after)

Número de columnas finales:  9

In [11]:
data.head(10)

,Year,Type,Country,Activity,Sex,Age,Injury,Fatal (Y/N),Time
0,2016,Unprovoked,USA,Surfing,M,16,Minor injury to thigh,N,13h00
1,2016,Unprovoked,USA,Surfing,M,36,Lacerations to hands,N,11h00
2,2016,Unprovoked,USA,Surfing,M,43,Lacerations to lower leg,N,10h43
3,2016,Unprovoked,AUSTRALIA,Surfing,M,NaN,Struck by fin on chest & leg,N,NaN
4,2016,Unprovoked,AUSTRALIA,Surfing,M,NaN,No injury: Knocked off board by shark,N,NaN
5,2016,Boat,AUSTRALIA,Fishing,NaN,NaN,Shark rammed boat. No injury to occupant,N,NaN
6,2016,Unprovoked,USA,Wading,M,60s,Minor injury to arm,N,15h15
7,2016,Unprovoked,USA,Swimming,F,51,Severe lacerations to shoulder & forearm,N,14h30
8,2016,Unprovoked,NEW CALEDONIA,Kite surfing,M,50,FATAL,Y,15h40
9,2016,Unprovoked,USA,Boogie boarding,F,12,Lacerations & punctures to lower right leg,N,Late afternoon

Arreglamos los datos de la variable 'Age'.

In [12]:
data['Age'] = data['Age'].fillna('0')

Mostramos los nulos de la variable 'Sex'.

In [13]:
null_displ = data[(data['Sex '].isnull()==True)]
null_displ = null_displ[['Year', 'Type', 'Country',
       'Activity', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time']]
null_displ

,Year,Type,Country,Activity,Sex,Age,Injury,Fatal (Y/N),Time
5,2016,Boat,AUSTRALIA,Fishing,NaN,0,Shark rammed boat. No injury to occupant,N,NaN
29,2016,Boat,USA,Fishing in Alabama Deep Fishing Rodeo,NaN,0,"No injury, shark bit trolling motor",N,NaN
81,2016,Invalid,USA,Surfing,NaN,0,Board reportedly bumped by shark. No injury,N,Morning
109,2015,Boat,AUSTRALIA,Fishing,NaN,0,"No injury, shark rammed boat & bit motor",N,10h30
225,2015,Boat,ATLANTIC OCEAN,Transatlantic Rowing,NaN,0,"No injury, shark bit rudder",N,NaN
241,2014,Unprovoked,AUSTRALIA,Surfing,NaN,0,Lacerations to both feet,N,Morning
243,2014,Sea Disaster,GREECE,NaN,NaN,0,"Of 9 bodies recovered, one was bitten by a shark",N,NaN
244,2014,Invalid,SOUTH AFRICA,Swimming,NaN,0,Minor cuts on feet,N,Morning
254,2014,Boat,USA,NaN,NaN,0,"Shark bumped boat, no injury to occupants",N,NaN
285,2014,Invalid,USA,NaN,NaN,0,Shark involvement not confirmed,N,16h18
291,2014,Unprovoked,USA,Kite boarding,NaN,0,Laceration to left foot,N,NaN
307,2014,Unprovoked,SPAIN,Wading,NaN,0,Minor injury,N,NaN
343,2014,Boat,SOUTH AFRICA,Shark watching,NaN,0,"No injury to occupants, shark bit pontoon",N,NaN
366,2014,Boat,NEW ZEALAND,Filming a documentary,NaN,0,"No injury to occupants, shark nudged and bit boat",N,NaN
478,2013,Unprovoked,USA,Surfing,NaN,0,Lacerations to right leg,N,18h00
517,2012,Unprovoked,USA,Surfing,NaN,19,Minor injury to elbow,N,14h20
524,2012,Provoked,USA,Spearfishing,NaN,0,Minor laceration to hand PROVOKED INCIDENT,N,12h00
530,2012,Boat,AUSTRALIA,Fishing,NaN,0,"No injury, shark grabbed outboard motor",N,12h00
548,2012,Invalid,CROATIA,Swimming,NaN,60,Leg struck. Initally reported as a shark attac...,N,NaN
582,2012,Boat,AUSTRALIA,Crayfishing,NaN,0,"No injury to occupants. Shark bit propelle, ro...",N,05h50
595,2012,Boat,SOUTH AFRICA,Fishing,NaN,0,"No injury to occupants, boat damaged",N,NaN
598,2012,Unprovoked,USA,Snorkeling,NaN,0,"No injury, shark bit swim fin",N,11h05
616,2011,Invalid,AUSTRALIA,Spearfishing,NaN,0,Killed by a shark or crocodile.,Y,NaN
626,2011,Provoked,SOUTH AFRICA,Diving,NaN,0,Arm bitten by captive shark PROVOKED INCIDENT,N,NaN
647,2011,Unprovoked,USA,Surfing,NaN,0,"No injury, shark bit surfboard",N,13h00
688,2011,Boat,UNITED KINGDOM,Fishing,NaN,0,"No injury, shark slammed into boat",N,NaN
733,2011,Boat,AUSTRALIA,Fishing,NaN,0,"No injury, shark nudged boat and bit propeller",N,12h00
844,2009,Boat,AUSTRALIA,Rowing,NaN,0,No injury to occupants; shark bit steering oar,N,07h30
941,2009,Boat,NEW ZEALAND,Fishing,NaN,0,"No injury to occupant, shark removed small aux...",N,19h00
947,2009,Unprovoked,SOUTH AFRICA,NaN,NaN,0,FATAL,Y,NaN
...,...,...,...,...,...,...,...,...,...
5628,1874,Boating,FRANCE,Fishing,NaN,0,Shark and boat collided. No injury to occupants,N,NaN
5635,1874,Boating,TUVALU,Fleet of canoes caught by a squall and charged...,NaN,0,"2 people out of +70 survived, one of whom was ...",Y,Night
5644,1872,Sea Disaster,AUSTRALIA,Wreck of the 150-ton brig Maria,NaN,0,"FATAL, some were taken by sharks",Y,NaN
5668,1868,Sea Disaster,AUSTRALIA,Fishing,NaN,0,"No injury to occupants, shark's teeth embedded...",N,NaN
5679,1865,Boating,AUSTRALIA,Boarding a ship,NaN,0,"No injury to pilot, oar bitten",N,NaN
5697,1862,Invalid,NEW ZEALAND,NaN,NaN,0,NaN,UNKNOWN,NaN
5767,1847,Unprovoked,AUSTRALIA,NaN,NaN,0,Foot severed at ankle joint,N,NaN
5779,1842,Provoked,USA,Harassing a shark,NaN,0,Lacerations to leg PROVOKED INCIDENT,n,NaN
5785,1840,Boat,AUSTRALIA,Sailing,NaN,0,"No injury to occupant, shark seized stern post",N,NaN
5794,1836,Invalid,SPAIN,NaN,NaN,0,"Shark caught, contained human remains",NaN,NaN
5795,1836,Unprovoked,AUSTRALIA,NaN,NaN,0,"No details, it was the year the first settlers...",UNKNOWN,NaN
5818,1822,Unprovoked,NIGERIA,NaN,NaN,0,FATAL,Y,NaN
5825,1816,Unprovoked,USA,Swimming,NaN,0,FATAL,Y,NaN
5830,1804,Boat,AUSTRALIA,NaN,NaN,0,No injury to occupants,N,NaN
5834,1788,Boat,AUSTRALIA,Fishing,NaN,0,"No injury to occupants, shark bit oar and rudder",N,NaN
5839,1776,Boat,GREENLAND,NaN,NaN,0,FATAL,Y,NaN
5849,1733,Invalid,ICELAND,NaN,NaN,0,"Partial hominid remains recovered from shark, ...",NaN,NaN
5857,1637,Unprovoked,INDIA,Wading,NaN,0,NaN,UNKNOWN,NaN
5858,1617,Unprovoked,INDIA,NaN,NaN,0,NaN,UNKNOWN,NaN
5865,500,Unprovoked,MEXICO,NaN,NaN,0,Foot severed,N,NaN
5871,0,Sea Disaster,ITALY,NaN,NaN,0,"Vase depicts shipwrecked sailors, one of whom ...",N,NaN
5875,0,Unprovoked,URUGUAY,Swimming,NaN,0,Foot bitten,N,NaN
5887,0,Unprovoked,SPAIN,Skin diving,NaN,0,Injury required 16 stitches,N,NaN
5892,0,Unprovoked,DJIBOUTI,A dhow capsized,NaN,0,FATAL,Y,NaN
5902,0,Boat,MOZAMBIQUE,Fishing,NaN,0,"No injury to occupants, shark bumped boat",N,NaN
5909,0,Unprovoked,SOLOMON ISLANDS,Diving,NaN,0,Lacerations to hands and knee,N,NaN
5927,0,Unprovoked,SINGAPORE,Swimming,NaN,0,Recovered,N,NaN
5949,0,Sea Disaster,NaN,A group of survivors on a raft for 17-days,NaN,0,"FATAL, shark leapt into raft and bit the man w...",Y,Late afternoon
5968,0,Unprovoked,REUNION,Swimming,NaN,0,FATAL,Y,NaN
5977,0,Unprovoked,FIJI,Wreck of large double sailing canoe,NaN,0,"FATAL, 18 people were killed by sharks, 2 sur...",Y,NaN

Mostramos los elementos que conforman la variable 'Sex' y cambiamos de nombre la columna para eliminarle el espacio que tenía.

In [14]:
data[('Sex ')].value_counts()

M      4835
F       585
M         2
N         1
lli       1
.         1
Name: Sex , dtype: int64

In [15]:
data = data.rename(columns={'Sex ':'Sex'})
data.columns

Index(['Year', 'Type', 'Country', 'Activity', 'Sex', 'Age', 'Injury',
       'Fatal (Y/N)', 'Time'],
      dtype='object')

Dado que no nos interesa ni transformar los nulos ni los valores que no son Mujer, filtramos los datos que tenemos acordes a la Variable Sexo-Mujer(F).

In [16]:
data = data[(data['Sex']=='F')]

data

,Year,Type,Country,Activity,Sex,Age,Injury,Fatal (Y/N),Time
7,2016,Unprovoked,USA,Swimming,F,51,Severe lacerations to shoulder & forearm,N,14h30
9,2016,Unprovoked,USA,Boogie boarding,F,12,Lacerations & punctures to lower right leg,N,Late afternoon
30,2016,Unprovoked,USA,Surfing,F,9,Minor injury to leg,N,1300
31,2016,Unprovoked,USA,NaN,F,11,Minor injury to toes,N,11h00
34,2016,Unprovoked,SPAIN,Wading,F,10,"5 tiny puncture marks to lower leg, treated wi...",N,NaN
38,2016,Unprovoked,USA,Swimming,F,42,"Buttocks, thigh, left hand & wrist injured",N,14h30 / 15h30
48,2016,Unprovoked,USA,Floating in tube,F,6,Injury to lower leg,N,17h30
52,2016,Unprovoked,AUSTRALIA,Diving,F,60,FATAL,Y,11h30
57,2016,Unprovoked,USA,Swimming,F,52,Injuries to arm and shoulder,N,16h00
59,2016,Unprovoked,USA,Swimming,F,57,Puncture wounds to thigh,N,12h00
60,2016,Unprovoked,USA,Swimming,F,22,Lacerations and puncture wounds to foot and ankle,N,18h00
61,2016,Unprovoked,USA,Swimming,F,11,"Back, arm & hand injured",N,17h46
63,2016,Provoked,USA,Teasing a shark,F,23,Arm grabbed PROVOKED INCIDENT,N,13h20
72,2016,Unprovoked,NEW CALEDONIA,Walking,F,69,FATAL,Y,10h45
76,2016,Unprovoked,USA,Snorkeling,F,46,Minor injury to left foot,N,11h00
89,2016,Unprovoked,DOMINICAN REPUBLIC,Wading,F,0,Avulsion injury to lower leg,N,15h00
92,2016,Unprovoked,AUSTRALIA,Walking,F,45,Foot nipped,N,13h20
96,2016,Unprovoked,USA,Surfing,F,15,No injury,N,11h30
104,2015,Unprovoked,SPAIN,Swimming,F,38,Lacerations to left forearm,N,NaN
111,2015,Unprovoked,SOUTH AFRICA,Swimming / Wading,F,22,Lacerations to both hands and forearms,N,Morning
113,2015,Unprovoked,USA,Swimming,F,0,Leg injured,N,Morning
116,2015,Invalid,USA,Surfing,F,9,Lower left leg injured,N,11h00
118,2015,Unprovoked,USA,Wading,F,28,Injury to right ankle/calf & hand,N,14h00
125,2015,Unprovoked,MOZAMBIQUE,Fishing for shrimp,F,35,FATAL,Y,NaN
129,2015,Unprovoked,USA,Boogie boarding,F,9,Laceration to forearm,N,16h20
137,2015,Unprovoked,AUSTRALIA,Snorkeling,F,7,Laceration to leg,N,Afternoon
146,2015,Unprovoked,USA,Stand-Up Paddleboarding,F,50,"No injury, shark struck board, tossing her int...",N,17h30
150,2015,Unprovoked,THAILAND,Wading,F,37,Left foot & ankle bitten,N,08h30
152,2015,Unprovoked,USA,Surfing,F,54,"No injury, surfboard bitten",N,10h25
157,2015,Unprovoked,USA,Walking,F,10,Lacerations to right leg,N,15h30
...,...,...,...,...,...,...,...,...,...
5435,1892,Unprovoked,AUSTRALIA,Swimming,F,0,Abrasions to left leg,N,NaN
5508,1886,Invalid,USA,"Fishing from shore, washed into the sea",F,0,The body of one woman had been bitten by a sha...,Y,NaN
5529,1884,Provoked,FRANCE,NaN,F,0,FATAL Leg severed by harpooned shar...,Y,02h00
5533,1884,Unprovoked,AUSTRALIA,Fell overboard,F,0,FATAL,Y,NaN
5569,1880,Unprovoked,INDIA,Bathing in river,F,60,"Hands, forearm & left thigh lacerated, radial ...",N,NaN
5574,1880,Unprovoked,AUSTRALIA,Bathing,F,13,Lacerations to leg,N,NaN
5595,1878,Unprovoked,PHILIPPINES,NaN,F,0,FATAL,Y,NaN
5610,1877,Unprovoked,AUSTRALIA,Swimming,F,0,Ankle injured,N,NaN
5698,1862,Unprovoked,SPAIN,Bathing,F,0,Survived,N,NaN
5705,1862,Unprovoked,USA,NaN,F,0,Ankle bitten,N,NaN
5730,1855,Unprovoked,AUSTRALIA,Fell overboard from the Malacca,F,2½,FATAL,Y,NaN
5747,1852,Invalid,ATLANTIC OCEAN,NaN,F,1,Death preceded shark involvement,NaN,NaN
5760,1849,Unprovoked,USA,Bathing,F,0,FATAL,Y,NaN
5798,1834,Unprovoked,FRENCH POLYNESIA,Swimming,F,0,FATAL,Y,NaN
5799,1832,Unprovoked,AUSTRALIA,Fishing,F,0,Leg severed,N,NaN
5832,1800,Unprovoked,SEYCHELLES,a corsair's boat was overturned,F,0,"FATAL, all onboard were killed by sharks",Y,NaN
5833,1791,Unprovoked,AUSTRALIA,NaN,F,0,"FATAL, ""bitten in two""",Y,NaN
5879,0,Unprovoked,AUSTRALIA,NaN,F,15,Foot severed,N,NaN
5883,0,Unprovoked,GREECE,Swimming,F,0,FATAL,Y,NaN
5888,0,Unprovoked,SUDAN,Snorkeling,F,0,Leg severely bitten,N,NaN
5890,0,Unprovoked,USA,Shark tagging,F,21,Severe abrasion to forearm from captive shark ...,N,18h00
5896,0,Unprovoked,NaN,Netting shrimp,F,0,Hand severed,N,NaN
5910,0,Unprovoked,KOREA,Diving,F,0,"FATAL, injured while diving, then shark bit her",Y,NaN
5913,0,Unprovoked,VANUATU,NaN,F,0,FATAL,Y,NaN
5918,0,Unprovoked,RED SEA?,Free diving,F,0,"Shoulder scratched, swim fin bitten",N,Morning
5921,0,Unprovoked,GREECE,Swimming,F,0,FATAL,Y,NaN
5935,0,Unprovoked,USA,NaN,F,0,Leg injured,N,NaN
5937,0,Unprovoked,FIJI,Swimming with fish attached to belt,F,0,"""Severely injured when fish were seized by shark""",N,NaN
5969,0,Unprovoked,SOUTH AFRICA,Wading,F,0,Ankle bitten,N,NaN
5982,0,Unprovoked,USA,NaN,F,0,Ankle bitten,N,NaN

Hacemos filtering de los datos. Primero en la variable 'Age' creamos una función para eliminar todo lo que no sea dígito de los valores para poder cambiarle la clase/type a la variable de *object* a *int64*.

In [17]:
print(set(data['Age']))

{'9 months', '2½', '52', '3', '5', '11', '54', '51', '29', '23', '33', '43', '48', '8 or 10', '32', '69', '17', '47', '27', '9', '28, 23 & 30', '49', "60's", '20s', '62', '60', '77', '44', '58', 'Teen', '75', '"middle-age"', '10', '37', '13', '18 or 20', '15', '19', '63', '16 to 18', '38', '34', '26', '41', '6', '20', 'Ca. 33', '0', '55', '61', '22', '65', '14', '36', '56', '1', '18', '70', '50', '59', '35', '40', '21', '30', '7', '46', '30s', '68', '16', '12', '45', '28', '42', '57', '25', '8', '39', '31', '53', 'young', '24'}

In [18]:
def no_letras(valor):
    pattern = '[^0-9]*'
    number = re.sub(pattern,"",valor)
    if len(number) > 2: number = number[:2]
    return number
data['Age'] = data['Age'].apply(no_letras)
print(set(data['Age']))

{'', '81', '52', '3', '5', '11', '54', '51', '29', '23', '33', '43', '48', '32', '69', '17', '47', '27', '9', '49', '62', '60', '77', '44', '58', '75', '10', '37', '13', '15', '19', '63', '38', '34', '26', '41', '6', '20', '0', '55', '61', '22', '65', '14', '36', '56', '18', '70', '50', '59', '2', '35', '40', '30', '21', '7', '46', '68', '16', '12', '45', '28', '42', '57', '25', '8', '39', '31', '53', '1', '24'}

Como hemos creado valores vacíos, los equiparamos a 0.

In [19]:
data.loc[(data['Age']==""), 'Age']=0
data['Age'] = data['Age'].astype('int64')
data.head(10)

,Year,Type,Country,Activity,Sex,Age,Injury,Fatal (Y/N),Time
7,2016,Unprovoked,USA,Swimming,F,51,Severe lacerations to shoulder & forearm,N,14h30
9,2016,Unprovoked,USA,Boogie boarding,F,12,Lacerations & punctures to lower right leg,N,Late afternoon
30,2016,Unprovoked,USA,Surfing,F,9,Minor injury to leg,N,1300
31,2016,Unprovoked,USA,NaN,F,11,Minor injury to toes,N,11h00
34,2016,Unprovoked,SPAIN,Wading,F,10,"5 tiny puncture marks to lower leg, treated wi...",N,NaN
38,2016,Unprovoked,USA,Swimming,F,42,"Buttocks, thigh, left hand & wrist injured",N,14h30 / 15h30
48,2016,Unprovoked,USA,Floating in tube,F,6,Injury to lower leg,N,17h30
52,2016,Unprovoked,AUSTRALIA,Diving,F,60,FATAL,Y,11h30
57,2016,Unprovoked,USA,Swimming,F,52,Injuries to arm and shoulder,N,16h00
59,2016,Unprovoked,USA,Swimming,F,57,Puncture wounds to thigh,N,12h00

Hallamos la media de los valores en 'Age' y la asignamos a cada valor que sea 0.

In [20]:
meanAge = int(round(data['Age'][(data['Age']>0)].mean()))
meanAge

27

In [21]:
data.loc[(data['Age']==0), 'Age']=meanAge
data.head(10)

,Year,Type,Country,Activity,Sex,Age,Injury,Fatal (Y/N),Time
7,2016,Unprovoked,USA,Swimming,F,51,Severe lacerations to shoulder & forearm,N,14h30
9,2016,Unprovoked,USA,Boogie boarding,F,12,Lacerations & punctures to lower right leg,N,Late afternoon
30,2016,Unprovoked,USA,Surfing,F,9,Minor injury to leg,N,1300
31,2016,Unprovoked,USA,NaN,F,11,Minor injury to toes,N,11h00
34,2016,Unprovoked,SPAIN,Wading,F,10,"5 tiny puncture marks to lower leg, treated wi...",N,NaN
38,2016,Unprovoked,USA,Swimming,F,42,"Buttocks, thigh, left hand & wrist injured",N,14h30 / 15h30
48,2016,Unprovoked,USA,Floating in tube,F,6,Injury to lower leg,N,17h30
52,2016,Unprovoked,AUSTRALIA,Diving,F,60,FATAL,Y,11h30
57,2016,Unprovoked,USA,Swimming,F,52,Injuries to arm and shoulder,N,16h00
59,2016,Unprovoked,USA,Swimming,F,57,Puncture wounds to thigh,N,12h00

Analizando la variable 'Year', comprobamos si hay nulos y si es así eliminamos las filas en las que dan valor nulo.

In [22]:
data[('Year')].value_counts()

2007    29
2015    27
2014    23
2010    22
2013    19
2012    19
2016    18
2009    17
2006    17
2011    14
2005    14
2004    14
2001    13
0       13
2008    13
2000    12
2003    12
1999    10
1995    10
2002     9
1966     9
1996     9
1993     9
1994     8
1960     7
1982     7
1984     7
1988     7
1997     7
1963     6
        ..
1951     2
1935     2
1925     1
1886     1
1791     1
1800     1
1832     1
1834     1
1849     1
1852     1
1855     1
1877     1
1878     1
1954     1
1936     1
1892     1
1944     1
1893     1
1952     1
1931     1
1899     1
1971     1
1908     1
1965     1
1913     1
1949     1
1948     1
1939     1
1945     1
1898     1
Name: Year, Length: 109, dtype: int64

In [23]:
data = data[data.Year != 0]

Analizando la variable 'Type' de tipos de ataque, comprobamos si hay nulos y si es así eliminamos las filas en las que dan valor nulo.

In [24]:
data[('Type')].value_counts()

Unprovoked      484
Invalid          56
Provoked         19
Sea Disaster      7
Boat              6
Name: Type, dtype: int64

En este caso lo que tenemos son valores 'Invalid' que delimitan que falta información y se podrían considerar nulos por lo que eliminamos las filas en las que ocurren estos ataques.

In [25]:
data = data[data.Type != 'Invalid']
data.head(10)

,Year,Type,Country,Activity,Sex,Age,Injury,Fatal (Y/N),Time
7,2016,Unprovoked,USA,Swimming,F,51,Severe lacerations to shoulder & forearm,N,14h30
9,2016,Unprovoked,USA,Boogie boarding,F,12,Lacerations & punctures to lower right leg,N,Late afternoon
30,2016,Unprovoked,USA,Surfing,F,9,Minor injury to leg,N,1300
31,2016,Unprovoked,USA,NaN,F,11,Minor injury to toes,N,11h00
34,2016,Unprovoked,SPAIN,Wading,F,10,"5 tiny puncture marks to lower leg, treated wi...",N,NaN
38,2016,Unprovoked,USA,Swimming,F,42,"Buttocks, thigh, left hand & wrist injured",N,14h30 / 15h30
48,2016,Unprovoked,USA,Floating in tube,F,6,Injury to lower leg,N,17h30
52,2016,Unprovoked,AUSTRALIA,Diving,F,60,FATAL,Y,11h30
57,2016,Unprovoked,USA,Swimming,F,52,Injuries to arm and shoulder,N,16h00
59,2016,Unprovoked,USA,Swimming,F,57,Puncture wounds to thigh,N,12h00

### Extraemos el nuevo Dataset en un formato .csv

In [26]:
df = data

In [27]:
df.to_csv('newdatasharks.csv')

### ¡Conclusiones!

Una vez extraidos los datos necesarios, sólo nos falta hacer unas conclusiones respecto.

#### SIendo mujer, ¿qué probabilidades hay de que el accidente que tenga sea provocado?